<form method="post" enctype="multipart/form-data" action="/">
	<input type="file" name="photo" accept="image/*">
	<input type="text" name="description" accept="text">
	<input type="submit" value="Submit">
</form>